@model _6_GenerateImage_using_ChatGPT_DALL_E_3.Models.DALModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-6">
        <form method="post">
            <div class="form-group">
                <div>
                    <span class="label label-primary">Prompt to generate image</span>
                    <input asp-for="Prompt" value="flying robin over water" maxlength="90" class="form-control" />
                </div>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Generate Image</button>
            </div>
        </form>
    </div>

    <div class="col-6">
        <p> Original prompt : @Model.Prompt </p>
        <hr />
        <img src="@Model.ImageUrl" class="img-fluid" />
        <p class="alert alert-warning">Assistant reply : @Model.AssistantReply</p>

    </div>

</div>


